@font-face {
    font-family: mainfont;
    src: url("../fonts/body.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pixelfont;
    src: url("../fonts/pixel.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.markdown-header, header {
    font-family: pixelfont;
    color: blue;
}

.markdown-body, body {
    font-family: mainfont;
    color: blue;
}